<!doctype html>
<html ng-app="elektroApp">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="styles.css">
	
	<head>
		<title>Elektro</title>
	</head>
	
	<body ng-controller="playerController" style="background-color: black">
		<div id="playerContainer">
			<div class="player" ng-repeat="player in players | orderBy: 'name'">
				<div class="removePlayerButton">
					<button class="btn btn-xs btn-danger" ng-click="removePlayer(player)" confirm-click="Remove player?">
						X
					</button>
				</div>
				
				<div class="playerDetails label label-default">
					<span class="name">{{player.name}}</span>
					<span class="money">{{player.money}}</span>
				</div>
				
				<div class="addMoneyButton">
					<button class="btn btn-xs btn-success" ng-click="addMoneyValue($index, player);">
						+
					</button>
					
					<input type="number" class="addMoneyValue form-control" ng-model="$parent.addMoneyAmount" ng-show="visibleAddMoneyIndex == $index" focus-on-show>
				</div>
			</div>
		</div>
		
		<div id="addPlayerForm">				
			<button class="addPlayerButton btn btn-primary" ng-click="toggleAddPlayerForm()" ng-show="players.length > 0 && !addPlayerFormButtonHide">
				Add Player
			</button>
			
			<div ng-show="players.length == 0 || addPlayerFormVisible">
				<input type="text" class="form-control" ng-model="newPlayerName" placeholder="Player">
				
				<div id="addPlayerFormButtons">
					<button class="btn btn-link" ng-click="addPlayerCancel()" ng-show="players.length > 0">
						Cancel
					</button>
					
					<button class="btn btn-success" ng-click="addPlayer()" ng-disabled="newPlayerName == ''">
						Add
					</button>
				</div>
			</div>
		</div>
	</body>
	
	<script src="playerController.js"></script>
</html>
