#logo {
	text-align: center;
	width: 100%;
}

#playerContainer {
	display: table;
	margin: auto;
	margin-top: 10px;
}

.player {
	display: table-row;
}

.removePlayerButton {
	display: table-cell;
	position: relative;
	top: -14px;
	right: 4px;
}

.playerDetails {
	display: table-cell;
	float: left;
	width: 100%;
	min-width: 175px;
}

.name {
	float: left;
	font-size: xx-large;
	font-weight: bold;
}

.money {
	float: right;
	margin-left: 24px;
	font-size: xx-large;
}

.addMoneyButton {
	display: table-cell;
	position: relative;
	top: -14px;
	left: 4px;
}

#addMoneyValue {
	position: absolute;
	top: 16px;
	left: 24px;
	width: 80px;
}

#addPlayerForm {
	margin: auto;
	margin-top: 10px;
	width: 100%;
	max-width: 175px;
}

#addPlayerButton {
	display: block;
	margin: auto;
}

#addPlayerFormButtons {
	float: right;
	padding-top: 2px;
}
